.App {
  text-align: center;
}
#AppHead {
  margin-bottom: 2%;
}

div.NewsItem {
  margin-left: 10%;
  width: 80%;
  border-top: 2px solid black;
  margin-bottom: 2%;
}

div.NewsItem:hover {
  background-color: lightgray;
}

.NewsItem-sideHeader {
  text-align: left;
  margin-left: 0%;
  margin-top: 0%;
  background: black;
  color: white;
  padding: 2%;
  width: fit-content;
}

#sidePanel {
  position: fixed;
  top: 0;
  left: 90%;
  font-size: 16px;
}
